html,
input {
  font-family: sans-serif;
}
.header-content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color: rgb(230, 98, 148);
}
* {
  box-sizing: border-box;
}

form {
  margin-top: 10px;
  padding: 0.01em 26px;
  background-color: rgb(240, 228, 218);
}

body > table {
  width: 100%;
  max-width: 500px;
  margin: 10px auto;
  padding: 5em;
  background-color: rgb(175, 171, 231);
}

table {
  border-collapse: collapse;
}
table.list {
  width: 100%;
}

td,
th {
  border: 1px solid #dddddd;
  text-align: left;
  padding: 8px;
}
tr:nth-child(even),
table.list thead > tr {
  background-color: #dddddd;
}

input[type="text"],
input[type="number"] {
  width: 100%;
  padding: 12px 20px;
  margin: 8px 0;
  display: inline-block;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
}

input[type="submit"] {
  width: 30%;
  background-color: rgb(204, 134, 77);
  color: #000;
  padding: 24px 20px;
  margin: 10px 0;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

form div.form-action-buttons {
  text-align: right;
}

a {
  cursor: pointer;
  text-decoration: underline;
  color: #7f7fd1;
  margin-right: 4px;
}

label.validation-error {
  color: red;
  margin-left: 5px;
}

.hide {
  display: none;
}
